<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body class="bg-black flex justify-center items-center h-screen">
    <div id="app">
        <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center space-y-4">
            <h2 class="text-2xl font-semibold mb-4">Guardar Información</h2>
        
            <ul class="list-disc pl-4">
                <li v-for="item in person" class="text-gray-800">
                    {{ item.name }} {{ item.lastName }}
                </li>
            </ul>
        
            <fieldset class="mb-4">
                <legend class="text-lg font-semibold">Nombre(s)</legend>
                <input type="text" v-model="nameData" placeholder="Nombre(s)" class="w-full p-2 border rounded">
            </fieldset>
        
            <fieldset class="mb-4">
                <legend class="text-lg font-semibold">Apellido(s)</legend>
                <input type="text" v-model="lastNameData" placeholder="Apellido(s)" class="w-full p-2 border rounded">
            </fieldset>
        
            <button v-on:click="saveData()" class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">
                Guardar Datos
            </button>
        </div>
        
    </div>

    <script>
        const { createApp, ref } = Vue

        createApp({
            data() {
                return {
                    nameData: '',
                    lastNameData: '',
                    person: []
                }
            },
            methods: {
                saveData() {
                    const person = {
                        name: this.nameData,
                        lastName: this.lastNameData
                    }

                    this.person.push(person);

                    this.nameData = "";
                    this.lastNameData = "";
                }

            }
        }).mount('#app')


    </script>
</body>

</html>