<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body class="bg-black flex justify-center items-center h-screen">
    <div id="app">
        <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center space-y-4">
            <div class="text-xl font-medium text-black">Calculator</div>
            <input type="text" v-model="numberA" placeholder="Enter the first number"
                class="w-[20rem] p-2 rounded bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
            <input type="text" v-model="numberB" placeholder="Enter the second number"
                class="w-[20rem] p-2 rounded bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">

            <button @click="sum"
                class="w-48 h-12 rounded-2xl bg-orange-500 text-lg font-bold text-white group relative overflow-hidden transition-all duration-300 hover:bg-black focus:outline-none focus:ring focus:border-blue-300">
                Calculate
                <div
                    class="absolute inset-0 h-full w-full rounded-2xl scale-0 transition-transform group-hover:scale-100 group-hover:bg-white/30">
                </div>
            </button>

            <button @click="clear"
                class="w-48 h-12 rounded-2xl bg-red-500 text-lg font-bold text-white group relative overflow-hidden transition-all duration-300 hover:bg-black focus:outline-none focus:ring focus:border-blue-300">
                Clear
                <div
                    class="absolute inset-0 h-full w-full rounded-2xl scale-0 transition-transform group-hover:scale-100 group-hover:bg-white/30">
                </div>
            </button>
            <h1 class="text-xl font-bold">Result: {{ result }}</h1>

        </div>
        <p class="text-slate-500">made by RETBLEED</p>
    </div>

    <script>
        const { createApp, ref } = Vue

        createApp({
            data() {
                return {
                    numberA: '',
                    numberB: '',
                    result: '',
                }
            },
            methods: {
                sum() {
                    this.result = isNaN(parseFloat(this.numberA)) || isNaN(parseFloat(this.numberB)) ? 'Error' : parseFloat(this.numberA) + parseFloat(this.numberB);
                },
                clear(){
                    this.numberA = ''; this.numberB = ''; this.result = '';
                }
            }
        }).mount('#app')
    </script>
</body>

</html>